VITE_SUPABASE_URL=https://kgtsrukjgxgzlasqssrh.supabase.co
VITE_SUPABASE_ANON_KEY=

VITE_PUSHER_KEY=1f8abdf61b746773f625
VITE_PUSHER_CLUSTER=eu
PUSHER_APP_ID=2137485
PUSHER_SECRET=68b5df4338a64b23b8d9

VITE_LIVEKIT_URL=wss://myvoicerooms-ykk4hsfk.livekit.cloud
LIVEKIT_API_KEY=APIMEVpEZPbTxHU
LIVEKIT_API_SECRET=g26mkcviTDyFrbeQlVZuPQ9mpT2dEIK3FOkFXrixejA
